html {
  background: #afa99e;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

#texture {
  max-height: 500px;
  max-width: 500px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-info {
  position: absolute;
  bottom: 64px;
  right: 128px;
}

@media (max-width: 799px) {
  .contact-info {
    right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: 800px) {
  .contact-info {
    right: 128px;
    padding-left: 0;
  }
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 2em;
  color: #fffcf2;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 8px;
}

p {
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
  color: #fffcf2;
  margin: 0;
}

a {
  color: #fffcf2;
}
